.HomeContainer {
    text-align: center;
    background: #00091B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.ComingSoonTitle {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.QuadrantTitle {
    color: white;
    margin-bottom: 20px;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
}

.AboutQuadrantText {
    color: white;
    margin-top: 50px;
    font-style: italic;
    align-self: center;
    width: 800px;
    padding: 0px 30px 0px 30px;
}

.AdminLogin {
    margin-top: 30px;
    width: 100px;
    align-self: center;
    background: none;
    color: white;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}